.default-color0.chart-line-symbol {
  -fx-background-color: #00ff00, #00ff00;
}

.default-color0.chart-series-line {
   -fx-stroke: #00ff00;
   -fx-stroke-width: 2px;
}

.chart-plot-background {
  -fx-background-color: #bfbfbf;
}

.text-area {
  -fx-text-fill: #10ff10;
  -fx-font-family: Verdana;
  -fx-font-size: 10;
  -fx-font-style: italic;
  -fx-font-weight: bold;
}

.text-area .content {
  -fx-background-color: #6f6f6f;
}

.properties-element {
  -fx-padding: 2 2 2 2;
  -fx-font-family: Consolas;
  -fx-font-size: 10;
  -fx-font-weight: bold;
}

.axis-minor-tick-mark {
    -fx-stroke: transparent;
}

.map-axis {
  -fx-tick-mark-visible: false;
  -fx-tick-labels-visible: false;
}

.default-color0.series0.chart-bubble  {
  -fx-background-color: rgb(0,0,255,.6);
}

.default-color1.series1.chart-bubble  {
  -fx-background-color: rgb(255,0,0,.9);
}

.prop-field {
  -fx-background-color: #e1e1e1;
  -fx-font-family: Verdana;
  -fx-font-size: 10;
  -fx-font-weight: bold;
  -fx-border-style: solid;
  -fx-border-width: 0 1 0 1;
  -fx-text-alignment: center;
  -fx-text-fill: #b1b1b1;
  -fx-pref-width: 60px;
}

.prop-field-edit {
  -fx-background-color: #b1b1b1;
  -fx-text-fill: #515151;
}
